/*variable*/
$color-primary:#014188;
$color-second:#117BF2 ;
$color-third:#013268;
$color-white:#fff;
$color-dark-grey:#535a5e;
$color-black:#000;
$color-light-grey-1:#f7f7f7;
$color-red:red;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;