.u-center-text{
    text-align: center;
}
.u-margin-bottom-8{
    margin-bottom: 8rem;
}

.heading-tertiary{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
 margin-bottom: 0.5rem;
}
.u-margin-botom-2{
    margin-bottom: 2rem;
  }
  .u-line-height{
    line-height: 1.6;
  }
.paragraph{
font-size: 1.8rem;
}
